.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e9f2f5;
}

.save-segment-btn {
  background-color: #2ea8e5;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
